<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        
        <title>Hochwart Shopping Cart</title>
    </head>
    <body>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div id="quel">
                    </div>
                    <h3>
                        Products
                    </h3>
                    <ul id="productList">

                    </ul>
                    <h3>
                        Chart
                    </h3>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    #ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Unitary value
                                </th>
                                <th>
                                    Subtotal
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            

                        </tbody>
                    </table>
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <span class="label label-warning right" id="valorTotal">0,00</span>
                            <span class="label label-success right">Total do Carrinho</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="req.js"></script>
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>

